
.sessao-sobre{
    text-align: center;
    color: var(--font-color);
}
.subtitulo-principal{
    font-size: 2.5rem;

    margin-top: 30px;
}
.subtitulo-secundario{
    font-size: 2rem;
} 

.sobre-descricao{
    font-size: 1.5rem;
    margin-top: 40px;
    line-height: 30px;
}

.palestrantes{
    text-align: center;
    color: var(--font-color);
}

.card{
    display: inline-block;
    margin-right: 20px;
    padding: 30px;
    width: 240px;
    height: 360px;
    border-radius: 15px;
    background: #2b9cd1;
    margin-bottom: 30px;
}

.card-imagem-palestrante{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 25px;
    object-fit:fill;
}

.card-nome-palestrante{
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;
}

.card-text-palestrante{
    font-size: 1.3rem;
    color: white;
}

.palestrantes-descricao{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 30px;
}

.form-section{
    background: white;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.form-title{
    font-size: 2.5rem;
}

.formulario{
    display: block;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    
}

.form-label{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
    font-size: 25px;
}

.form-input{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding:10px;
    font-size: 20px;
}

.form-button{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    padding: 1.3rem;
    display: inline-block;
    background: var(--leaf-green);
    border-radius: 8px;
    margin-left: 15px;
    margin-top: 20px;
    border: none;
    border-bottom: 5px solid #447722;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
}

.form-button:hover{
    background: var(--dark-leaf-green);
    border-bottom: 5px solid rgb(9, 41, 9);
    transition: 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .card{
        margin-right: 0px;
    }
}